// Styles for the about section
#about {
  display: block;
  padding-top: 7%;
  min-height: 100%;
  border-top: 2px solid $light-gray;

  #info {
    p.lead {
      text-align: center;
      margin: auto;
      font-size: 1.3em;
    }

  }

  #stats {
    margin-top: 10%;
    width: 100%;

    .cell {
      @include span-columns(3);
      @include omega(4n);
      text-align: center;
    }
  }
}
