// Styles for the about section
#about {
  display: block;
  padding-top: 7%;
  min-height: 100%;
  border-top: 2px solid $light-gray;

  #info {
    @include span-columns(12);

    .cell {
      @include span-columns(3 of 12);
      @include omega(4n);
      margin: .4em;
    }

    p.lead {
      text-align: center;
      margin: auto;
      font-size: 1.3em;
    }

    #stats {
      margin-top: 10%;
    }
  }
}
