#contact {
  display: block;
  padding: 2% 0;
  margin: 0 auto;
  background-color: lighten($blue, 5%);
  color: white;
  min-height: 75%;

  form {
    margin: 0 auto;
    max-width: 60%;
    color: black;

    label {
      color: white;
    }

    .button {
      float: right;
    }
  }

}