#contact {
  display: block;
  padding: 2% 0;
  margin: 0 auto;
  border-top: 4px solid darken($blue, 10%);
  background-color: lighten($blue, 5%);
  color: white;

  form {
    margin: 0 auto;
    max-width: 60%;

    .button {
      float: right;
    }
  }

}