// Styles for the about section
#faq {
  display: block;
  padding-top: 2%;
  min-height: 100%;
  border-top: 2px solid $light-gray;

  .faq-item {
    width: 25%;
    padding: 10px;

    h5 {
      margin-bottom: .3em;
    }
  }
}
