// Styles for the about section
#faq {
  display: block;
  padding-top: 2%;
  min-height: 100%;
  background-color: lighten($blue, 5%);
  color: white;

  .faq-item {
    width: 25%;
    padding: 10px;

    h5 {
      margin-bottom: .3em;
    }
  }
}
