// Styles for main(home) page

#home {
  @include fill-parent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
//  margin-top: -50px;
  min-height: 100%;
  background-image: url('../images/sd_bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;

  .content {
    @include fill-parent;
    width: 100%;
    min-height: 100vh;
    padding-top: 6%;
    background-color: rgba(75, 75, 125, .15);
  }

  #logo {
    max-height: 50%;
    margin-bottom: 10px;
  }

  .tagline {
    @extend h4;
    max-width: 60%;
    margin: .2em auto 1em auto;
    color: white;
  }

  .details {
    @extend h5;
    color: white;
    font-weight: bold;
  }

  .actions {
    margin: 2em auto;

    * {
      margin: auto 15px;
    }

    button {
      @extend button;
      background-color: lighten($blue, 5%);
      font-size: 1.4em;
      text-transform: uppercase;

    }
  }

}

#subscribe {
  background-color: rgba(255,255,255,.5);

  .left {
    @include span-columns(4 of 16);
    @include shift(5 of 16);
  }

  .right {
    @include span-columns(2 of 16);
  }
}