// Styles for main(home) page

#home {
  @include fill-parent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  min-height: 100%;
  background-image: url('../images/circuits.png');
  background-size: cover;
  background-position: center;

  .content {
    @include fill-parent;
    width: 100%;
    min-height: 100vh;
    padding-top: 3%;
    background-color: rgba(255, 255, 255, .4);
  }

  #logo {
    max-height: 50%;
  }

  .tagline {
    @extend h3;
    max-width: 60%;
    font-weight: bold;
    margin: 1em auto;
    color: black;
  }

  .details {
    @extend h5;
    color: black;
    font-weight: bold;
  }

  .actions {
    margin: 2em auto;

    * {
      margin: auto 15px;
    }

    button {
      font-size: 1.4em;
      text-transform: uppercase;
    }
  }

  .social {
    font-size: 1.8em;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: .5em;
    padding-left: 1em;
    background-color: white;
    border-bottom-left-radius: 2em;

    a {
      @extend a;
      margin: auto .2em;
    }
  }
}
