// Styles for main(home) page

#home {
  @include fill-parent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  min-height: 100%;
  background-image: url('../images/sd_bg_gradient.jpg');
  background-size: cover;
  background-position: center;
  color: white;

  //Scale Text on Mobile
  @media screen and (max-width: 800px) {
    font-size: 12px;
  }

  .content {
    @include fill-parent;
    width: 100%;
    min-height: 100vh;
    padding-top: 6%;
    background-color: rgba(75, 75, 125, .15);
  }

  #logo {
    max-height: 45vh;
    margin-bottom: 10px;
  }

  .registration{

    //Mobile lighter box
    @media screen and (max-width: 800px) {
      background-color: rgba(0,0,0,.3);
    }
    background-color: rgba(0,0,0,.5);
    padding: .8em;
    @include span-columns(10 of 16);
    @include shift(3 of 16);

    //Scale Registration Container on Mobile
    @media screen and (max-width: 800px) {
      @include span-columns(14 of 16);
      @include shift(1 of 16);
    }
  }

  .tagline {
    @extend h4;
    font-size:1em;
    text-align:left;
    margin: .2em .6em 1em .6em;
    color: white;
  }

  .details {
    @extend h5;
    color: white;
    font-weight: bold;
  }

  .actions {
    margin: 2em auto;

    * {
      margin: auto 15px;
    }

    button {
      @extend button;
      background-color: lighten($blue, 5%);
      font-size: 1.4em;
      text-transform: uppercase;

    }
  }

  .socialicons {
    font-size: 3em;
    margin-top: 1em;
    //No colors
    a{
      color: #ffffff;
      text-decoration: none;
      &:link {
        color: #ffffff;
        text-decoration: none;
      }

      &:active {
        color: #ffffff;
        text-decoration: none;
      }

      &:visited {
        color: #ffffff;
        text-decoration: none;
      }
      &:hover {
        color: #dedede;
        text-decoration: none;
      }
    }
    .social_facebook, .social_twitter{
      font-size:0.77em;
    }
  }
}

#subscribe {
  background-color: rgba(255,255,255,.5);

  .left {

    @include span-columns(13 of 16);
    @include shift(0 of 16);

    //Scale the subscribe boxes on mobile
    @media screen and (max-width: 800px) {
      @include span-columns(9 of 16);
      @include shift(0 of 16);
    }

  }

  .right {

    @include span-columns(3 of 16);

    //Scale the subscribe boxes on mobile
    @media screen and (max-width: 800px) {
      @include span-columns(7 of 16);
    }
  }
}