// Styles for main(home) page

#home {
  @include fill-parent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  height: 100%;

  #logo {
    max-height: 50%;
  }

  .tagline {
    @extend h5;
    margin: 1em auto;
  }

  .actions {
    margin: 2em auto;

    * {
      margin: auto 15px;
    }

    button {
      font-size: 1.4em;
      text-transform: uppercase;
    }
  }
}
