@import "../bootstrap-sass/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$primary-color: #10a9ee;
$secondary-color: #0d87be;

$brand-primary: rgb(24, 165, 222);
$brand-yellow: rgb(255, 243, 51);

.btn {
  .button-size($padding-base-vertical; $padding-base-horizontal; $font-size-base; $line-height-base; 0);
}

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size($padding-large-vertical; $padding-large-horizontal; $font-size-large; $line-height-large; 0);
}

.btn-yellow {
  .button-variant(black; $brand-yellow; darken($brand-yellow, 10%));
}

$navbar-inverse-bg: $primary-color;

$navbar-inverse-color: white;
$navbar-inverse-link-color: white;

$font-family-sans-serif: "Montserrat", sans-serif;

/* Custom styles for homepage */

// Set height to 100% to allow bg img to expand to full screen height
html
{
  height: 100%;
}

// Set height to 100% to allow bg img to expand to full screen height
body
{
  height: 100%;
}

// Container for homepage contains background image that covers screen area.
#home-container
{
  background-color: #000000; // Default bg color if url cannot load
  background-image: url('../img/skyline.jpg'); // Bg image
  background-repeat: no-repeat; // Don't repeat the image
  background-position: center; // Center the bg image
  background-size: cover; // Cover the bg area
  height: 100%; // 100% of screen
  width: 100%;
  z-index: -1; // Behind all other elements

  // Container for content so it can be placed over rectangles
  .content
  {
    width: 25%; // Predefined width to prevent extension beyond rectangles
    position: relative; // We want to position this relative to its container
    top: 50%; // 50% from the top
    margin: auto; // Automatically set margins on both sides(centering)
    @include translate(0, -50%); // Compensate for overadjustment by top
    color: white; // Color of text
    z-index: 3; // Element in front of all others
    text-align: center;
    h1
    {
      margin: 0; // Without this, there are unsightly margins at the top
    }
  }
}

// Blue rectangle
#rectangle1
{
  width: 26vw; // 26% of screen(needs to be adjusted for responsiveness)
  height: 23vw; // 23% of screen
  background-color: fade($brand-primary, 77%); // #18A5DE // Color w/ 77% opacity
  z-index: 1; // Behind z-index 2
  @include rotate(60deg); // Rotate div 60 degrees
  margin: auto; // Center
  position: absolute; // Position in middle
  top: 0; // Set position
  left: 0;
  bottom: 0;
  right: 0;
}

// Yellow rectangle
#rectangle2
{
  width: 26vw;
  height: 23vw;
  background-color: fade($brand-yellow, 77%); // #FFF333
  z-index: 2; // In front of z-index 1
  @include rotate(60deg); // Rotate another 60 degrees
  margin: auto;
}
