#sponsors {
  display: block;
  padding-top: 2%;
  min-height: 100%;
  text-align: center;
  margin: 0 auto;

  .sponsor {
    padding: 10px;
    margin: 0 auto;

    &.partner {
      margin: 0 auto;
      max-width: 40%;
    }

    &.platinum {
      display: inline-block;
      width: 25%;
    }

    &.gold {
      display: inline-block;
      width: 20%;
    }

    &.silver {
      display: inline-block;
      width: 15%;
    }

    &.bronze {
      display: inline-block;
      width: 15%;
    }
  }
}