// Statistic bubble
.bubble {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: thick solid $blue;
  font-size: 18px;
  text-align: center;
  text-decoration: none;

  p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .highlight {
      display: block;
      font-size: 30px;
    }
  }
}
