<div id="home">
  <div class="container">
    <h1>
      <img id="logo" src="images/logo.png" alt="SDHacks">
    </h1>
    <p class="tagline">Team up with your friends, make new ones, and create something exciting with us at SD Hacks!</p>
    <p class="tagline">San Diego Convention Center<br/>February 21, 2014</p>
    <div class="actions">
      <button class="button">Register</button>
      <button class="button">Sponsor</button>
    </div>
  </div>
</div>

<div id="about">
  <div class="container">
    <div id="info">
      <p class="lead">Fusce tempus ultrices erat nec semper. Quisque quis massa fermentum orci suscipit vehicula eget
        aclorem.</p>
    </div>

    <div id="stats">
      <ul ng-controller="StatsCtrl">
        <li class="cell" ng-repeat="(unit, stat) in stats">
          <div class="bubble">
            <p><span class="highlight">{{ stat }}</span> {{ unit }}</p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>

<div id="faq">
  <div class="container">
    <h2>FAQ</h2>
    <br />
    <div masonry ng-controller="FAQCtrl">
      <div class="masonry-brick faq-item" ng-repeat="item in items">
        <h5>{{ item.question }}</h5>
        <p>{{ item.answer }}</p>
      </div>
    </div>

  </div>
</div>

<div id="sponsors">
  <div class="container">
    <h2>Our Sponsors</h2>
    <br />
    <div ng-controller="SponsorsCtrl">
      <div ng-repeat="level in levels">

        <div class="sponsor {{ level }}" ng-repeat="sponsor in sponsors | filter:level:level">
          <div class="{{ sponsor.level }}">
            <img src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div id="contact">
  <div class="container">
    <h2>Contact Us</h2>
    <br />

    <form>
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="John Doe">

      <label for="email">Email</label>
      <input type="text" name="email" placeholder="email@example.org">

      <label for="phone">Phone</label>
      <input type="text" name="phone" placeholder="(555) 555-5555">

      <label for="message">Message</label>
      <textarea name="message" placeholder="Message"></textarea>

      <input type="submit" class="button" value="SEND">
    </form>

  </div>
</div>
