<div id="home">
  <div class="container">
    <h1>
      <img id="logo" src="images/logo.png" alt="SDHacks">
    </h1>
    <p class="tagline">Team up with your friends, make new ones, and create something exciting with us at SD Hacks!</p>
    <p class="tagline">San Diego Convention Center<br/>February 21, 2014</p>
    <div class="actions">
      <button class="button">Register</button>
      <button class="button">Sponsor</button>
    </div>
  </div>
</div>

<div id="about">
  <h2>About</h2>
  <div class="container">
    <div id="info">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus ultrices erat nec semper. Quisque quis massa fermentum orci suscipit vehicula eget ac lorem. Curabitur pulvinar nisi nec tellus sollicitudin, vel efficitur erat condimentum. Pellentesque interdum aliquam ullamcorper. Nunc eleifend accumsan felis in blandit. Duis convallis malesuada fringilla. Sed commodo, metus nec venenatis iaculis, libero lectus consectetur nulla, ut placerat eros neque non eros.
    </div>

    <div id="stats">
      <ul>
        <li class="cell"><span class="bubble">36 hours</span></li>
        <li class="cell"><span class="bubble">1000 hackers</span></li>
        <li class="cell"><span class="bubble">42 companies</span></li>
        <li class="cell"><span class="bubble">$20000 in prizes</span></li>
      </ul>
    </div>
  </div>
</div>
